
/* ----------------------------------------- ROOT STYLES ----------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --primary: #000000;
    --second: #7C848C;
    --bgColor: #ffffff;
}

h1,
h2,
h3,
h4,
p{
  color: var(--primary);
  font-family: 'Oxanium', san-serif;
}


body {
  background-color: var(--bgColor);
  font-family: 'Oxanium', sans-serif;
}

img {
  width: 100%;
  display: block;
}


